USE [master]
GO
/****** Object:  Database [Student Management Database]    Script Date: 21/01/2026 16:51:51 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Student Management Database')
BEGIN
CREATE DATABASE [Student Management Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Student Management Database', FILENAME = N'E:\MSMYSQL\MSSQL17.SQLEXPRESS01\MSSQL\DATA\Student Management Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Student Management Database_log', FILENAME = N'E:\MSMYSQL\MSSQL17.SQLEXPRESS01\MSSQL\DATA\Student Management Database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Student Management Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
